<div class="container">
    
    <div class="row justify-content-center mt-5">

        <div class="col-4">
            <img src="../../../assets/logo-contel.png" alt="logo da empresa contel" id="idLogoContel">
        </div>

    </div>

    <div class="row justify-content-center mt-5">

        <div class="col-4 py-4 shadow rounded border border-dark" id="idBoxLogin">

            <div class="text-center mb-5">
                <h2>Recuperação de Senha</h2>
            </div>

            <div class="w-75 mb-3 mx-auto">
                <label for="idUserName" class="form-label">Nome de Usuário</label>
                <input type="text" class="form-control border border-dark" id="idUserName">
            </div>

            <div class="w-75 mb-4 mx-auto">
                <label for="idUserEmail" class="form-label">E-mail</label>
                <input type="email" class="form-control border border-dark" id="idUserEmail">
            </div>

            <div class="w-75 mb-4 mx-auto d-flex justify-content-end">
                <button type="button" class="btn w-50" id="idBtnRecoverPassword">Enviar</button>
            </div>

            <div class="w-75 mx-auto">
                <p>Para recuperar a sua senha, informe os dados acima e receba em seu e-mail instruções para recuperar seu acesso.</p>
            </div>

        </div>

    </div>

</div>
