<div class="container-fluid vh-100 d-flex flex-column">
    
    <div class="row h-100 mt-3 justify-content-center align-content-start">

        <div class="col-4 justify-content-center">

            <div class="row justify-content-center">
                <img src="../../../assets/logo-contel.png" alt="logo da empresa contel" id="idLogoContel">
            </div>

            <div class="row mt-2 py-4 shadow rounded border border-dark" id="idBoxLogin">
                <div class="text-center mb-4">
                    <h2>Recuperação de Senha</h2>
                </div>
    
                <div class="w-75 mb-2 mx-auto">
                    <label for="idUserName" class="form-label">Nome de Usuário</label>
                    <input type="text" class="form-control border border-dark" id="idUserName">
                </div>
    
                <div class="w-75 mb-4 mx-auto">
                    <label for="idUserEmail" class="form-label">E-mail</label>
                    <input type="email" class="form-control border border-dark" id="idUserEmail">
                </div>
    
                <div class="w-75 mx-auto mb-4 mt-2">
                    <button type="button" class="btn w-100" id="idBtnRecoverPassword">Enviar</button>
                </div>
    
                <div class="w-75 mx-auto">
                    <p>Para recuperar a sua senha, informe os dados acima e receba em seu e-mail instruções para recuperar seu acesso.</p>
                </div>    
            </div>

        </div>
        
    </div>

</div>
