<div class="row py-2 align-content-center">

    <div class="logo">
        <img src="../../../assets/logo-contel-branco.png" alt="logo da empresa contel" id="idLogoContel">
    </div>
    
    <div class="col-1 d-flex align-items-center">
        <div class="dropdown">
            <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Cadastros
            </a>
          
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Cadastro Usuário</a></li>
              <li><a class="dropdown-item" href="#">Cadastro Hotel</a></li>
              <li><a class="dropdown-item" href="#">Cadastro Diárias</a></li>
            </ul>
          </div>
    </div>
</div>
