#idLogoContel {
    width: 15em;
}

#idBoxLogin {
    background-color: #dadada;
    height: fit-content;
}

.form-label {
    font-size:16px;
    font-weight: 500;
    margin-bottom: 0px;
}

.btn {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    background-color: #34C096;
    border: 1px solid black;
}