<div class="container">
    
    <div class="row justify-content-center mt-5">

        <div class="col-4">
            <img src="../../../assets/logo-contel.png" alt="logo da empresa contel" id="idLogoContel">
        </div>

    </div>

    <div class="row justify-content-center mt-5">

        <div class="col-4 py-4 shadow rounded border border-dark" id="idBoxLogin">

            <div class="text-center mb-5">
                <h1>Cadastro de Usuário</h1>
            </div>

            <div class="w-75 mb-3 mx-auto">
                <label for="idUserName" class="form-label">Nome de Usuário</label>
                <input type="text" class="form-control border border-dark" id="idUserName">
            </div>

            <div class="w-75 mb-3 mx-auto">
                <label for="idUserEmail" class="form-label">E-mail</label>
                <input type="email" class="form-control border border-dark" id="idUserEmail">
            </div>

            <div class="w-75 mb-3 mx-auto">
                <label for="idUserPassword" class="form-label">Senha</label>
                <input type="password" class="form-control border border-dark" id="idUserPassword">
            </div>

            <div class="w-75 mb-5 mx-auto">
                <label for="idUserConfirmPassword" class="form-label">Confirmar Senha</label>
                <input type="password" class="form-control border border-dark" id="idUserConfirmPassword">
            </div>

            <div class="w-75 mx-auto">
                <button type="button" class="btn w-50 float-end" id="idBtnRegisterUser">Cadastrar</button>
            </div>

        </div>

    </div>

</div>
